/* .nav-button{
  background-color: #6C63FF;
} */

.login-text{
  color: #6C63FF;
}

.login-submit{
  background-color: #6C63FF;
}

.login-submit:hover{
  font-size: 17px;
  background-color: #6C63FF;
}

.login-submit:active{
  background-color: #6C63FF;
}